<div>
  <div>
    <h1 class="title"><%= @list.name %></h1>
  </div>
  <div>
    <p>add a movie</p>
  </div>

  <div>
    <% @list.movies.each do |movie| %>
    <%= movie.title %>
    <%= movie.overview %>
    <%= movie.rating %>
    <%= link_to "Delete", list_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </div>
    <% end %>
  <%= link_to 'Main Page', lists_path %>
</div>
